-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "auth"."aal_level" AS ENUM ('aal1', 'aal2', 'aal3');

-- CreateEnum
CREATE TYPE "auth"."code_challenge_method" AS ENUM ('s256', 'plain');

-- CreateEnum
CREATE TYPE "auth"."factor_status" AS ENUM ('unverified', 'verified');

-- CreateEnum
CREATE TYPE "auth"."factor_type" AS ENUM ('totp', 'webauthn', 'phone');

-- CreateEnum
CREATE TYPE "auth"."oauth_registration_type" AS ENUM ('dynamic', 'manual');

-- CreateEnum
CREATE TYPE "auth"."one_time_token_type" AS ENUM ('confirmation_token', 'reauthentication_token', 'recovery_token', 'email_change_token_new', 'email_change_token_current', 'phone_change_token');

-- CreateTable
CREATE TABLE "public"."categoria" (
    "id_categoria" BIGSERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "descripcion" TEXT,

    CONSTRAINT "categoria_pkey" PRIMARY KEY ("id_categoria")
);

-- CreateTable
CREATE TABLE "public"."informe" (
    "id_informe" BIGSERIAL NOT NULL,
    "mes" INTEGER NOT NULL,
    "total_pagado" DECIMAL(12,2) DEFAULT 0,
    "total_pendiente" DECIMAL(12,2) DEFAULT 0,
    "id_usuario" UUID NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "informe_pkey" PRIMARY KEY ("id_informe")
);

-- CreateTable
CREATE TABLE "public"."metodo_pago" (
    "id_metodo" BIGSERIAL NOT NULL,
    "tipo" VARCHAR(50) NOT NULL,
    "detalles" TEXT,

    CONSTRAINT "metodo_pago_pkey" PRIMARY KEY ("id_metodo")
);

-- CreateTable
CREATE TABLE "public"."pago" (
    "id_pago" BIGSERIAL NOT NULL,
    "monto" DECIMAL(12,2) NOT NULL,
    "fecha_vencimiento" DATE NOT NULL,
    "estado" VARCHAR(20) DEFAULT 'Pendiente',
    "id_usuario" UUID NOT NULL,
    "id_categoria" BIGINT,
    "id_metodo" BIGINT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pago_pkey" PRIMARY KEY ("id_pago")
);

-- CreateTable
CREATE TABLE "public"."recordatorio" (
    "id_recordatorio" BIGSERIAL NOT NULL,
    "fecha_aviso" DATE NOT NULL,
    "mensaje" TEXT,
    "id_pago" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recordatorio_pkey" PRIMARY KEY ("id_recordatorio")
);

-- CreateTable
CREATE TABLE "public"."usuarios_perfil" (
    "id" UUID NOT NULL,
    "nombre" TEXT,
    "avatar_url" TEXT NOT NULL,
    "creado_en" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "email" TEXT NOT NULL DEFAULT '',

    CONSTRAINT "usuarios_perfil_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_perfil_email_key" ON "public"."usuarios_perfil"("email");

-- AddForeignKey
ALTER TABLE "public"."informe" ADD CONSTRAINT "informe_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "public"."usuarios_perfil"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pago" ADD CONSTRAINT "pago_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "public"."categoria"("id_categoria") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pago" ADD CONSTRAINT "pago_id_metodo_fkey" FOREIGN KEY ("id_metodo") REFERENCES "public"."metodo_pago"("id_metodo") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."pago" ADD CONSTRAINT "pago_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "public"."usuarios_perfil"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."recordatorio" ADD CONSTRAINT "recordatorio_id_pago_fkey" FOREIGN KEY ("id_pago") REFERENCES "public"."pago"("id_pago") ON DELETE CASCADE ON UPDATE NO ACTION;

